# -------------------------------------
# Dependencies
# -------------------------------------
node_modules/
scripts/node_modules/
package-lock.json

# -------------------------------------
# Expo
# -------------------------------------
.expo/
.expo-shared/
dist/
build/
web-build/
expo-env.d.ts

# -------------------------------------
# Native Platforms (Generated Later)
# -------------------------------------
/ios
/android

# -------------------------------------
# Native Files
# -------------------------------------
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# -------------------------------------
# Metro Bundler Cache
# -------------------------------------
.metro/
.cache/
.metro-health-check*

# -------------------------------------
# Debug / Logs
# -------------------------------------
npm-debug.*
yarn-debug.*
yarn-error.*
pnpm-debug.*
*.log

# -------------------------------------
# OS-Specific
# -------------------------------------
.DS_Store
Thumbs.db
*.pem

# -------------------------------------
# Local Environment Files
# -------------------------------------
.env
.env.*
.env*.local

# -------------------------------------
# TypeScript
# -------------------------------------
*.tsbuildinfo

# -------------------------------------
# NativeWind
# -------------------------------------
.nativewind/

# -------------------------------------
# Temporary Example / Test Folders
# -------------------------------------
app-example

# -------------------------------------
# Editor Configurations
# -------------------------------------
.vscode/
