# dependencies
node_modules/

# expo
.expo/
.expo-shared/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS generated
.DS_Store
Thumbs.db

# builds
dist/
build/

# vscode
.vscode/

# env
.env
.env.*